// Colors of Project

// Brand Colors
$primary-normal: #82269e;
$primary-light: #9c4fb4;
$primary-dark: #701f88;

$secundary-normal: #a950c4;
$secundary-light: #bb71d2;
$secundary-dark: #9142a8;

// Neutral Colors
$black-normal: #232224;
$black-light: #353436;
$black-dark: #161617;

$white-normal: #f3f0f5;
$white-light: #fbf8fc;
$white-dark: #edeaef;

// Gray Colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Red Colors
$red: #eb3d3d;
$red-light: #f05454;
$red-dark: #d03333;

// Green Colors
$green: #32d957;
$green-light: #50e170;
$green-dark: #28bb49;

// Yellow Colors
$yellow: #ffce52;
$yellow-light: #ffd76b;
$yellow-dark: #d9b043;

.color-white {
  color: $white-light;
}